/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #348498;
}

body{
  background-color: white;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.dropdown-toggle{ 
  color: white;
  background-color: transparent;
}

.dropdown-toggle:hover{
  color: white;
}

.dropdown-menu .nav-link {
  color: #348498;
}

.border {
  border: 4px solid #ceefe4!important;
}

.nav-tabs .nav-link {
  color: #716e77;
}

