.user_image{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.card{
    background-color: #ceefe4;
    padding: 40px;
}

.photo{
    max-width: 100%;
	height: auto;
}

.post-new-btn{
    text-align: right;
}