.img {
  background-image:url(assets/犬猫.jpg); 
  background-repeat:  no-repeat;                                  
  background-position: center;                    
  width:auto;                                           
  height:450pX;                                          
}

h1 {
  color: #716e77;
}

h6 {
  color: #716e77;
}

.btn-lg {
  color: white;
  background-color: #c05f47;
  letter-spacing: 0.2em;
}

.btn-lg:hover {
  color: white;
}

