.img{
    background-image:url(assets/犬猫.jpg); 
    background-repeat:  no-repeat;                                  
    background-position: center center;                    
    width:auto;                                           
    height:450pX;                                          
}

